.futures {
  border: 1px solid #212734;
  background-color: rgba(33, 39, 52, 1);
  border-radius: 7px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding-left: 30px;
  padding-bottom: 15px;
  margin-left: 17px;
  width: 33%;
  height: 314px;
  padding: 10px 20px 7px 15px;

  &__name {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-top: 18px;
    position: relative;

    span {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: rgba(255, 255, 255, 1);
    }
    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-decoration: none;
      color: #805ad5;
      transition: all 0.3s;
      position: absolute;
      right: 20px;
      top: 10px;
      z-index: 10px;
      &:hover {
        color: #5932ad;
      }
    }
  }

  &__top {
    width: 100%;
    height: 79px;
    border-radius: 5px;
    border: 1px solid rgba(104, 104, 104, 1);
    background: linear-gradient(
      #2b3341,
      rgba(61, 73, 95, 0.0069),
      rgba(33, 39, 51, 0)
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px rgba(0, 0, 0, 0.25);
    padding: 15px 32px 15px 16px;
    margin-top: 4px;
    .info {
      p {
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        color: #fff;
      }

      .infoAll {
        display: flex;
        align-items: center;
        margin-top: 9px;
        .right {
          display: flex;
          align-items: center;
          img {
            width: 15px;
            height: 8px;
          }
          span {
            color: #61e224;
            font-weight: 400;
            font-size: 12px;
            line-height: 19px;
            margin-left: 4px;
          }
        }

        .left {
          margin-left: 11px;
          display: flex;
          align-items: center;
          img {
            width: 15px;
            height: 8px;
          }
          span {
            color: #ff0000;
            font-weight: 400;
            font-size: 12px;

            line-height: 19px;
            margin-left: 4px;
          }
        }
      }
    }

    button {
      width: 40%;
      height: 49px;
      border-radius: 2px;
      border: 1px solid rgba(104, 104, 104, 1);
      font-weight: 500;
      font-size: 15px;
      line-height: 36px;
      color: #fff;
      background: linear-gradient(
        #2b3341,
        rgba(61, 73, 95, 0.0069),
        rgba(33, 39, 51, 0)
      );
      transition: all 0.3s;
      cursor: pointer;
    }
  }

  &__midlle {
    width: 100%;
    height: 100px;
    margin-top: 6px;
    border-radius: 2px;
    img {
      width: 100%;
      height: 120px;
    }
  }

  &__bottom {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    .asset {
      display: flex;
      flex-direction: column;
      font-weight: 400;
      font-size: 10px;
      line-height: 18px;
      color: #fff;
      width: 33%;
      span {
        width: 85%;
        padding-bottom: 8px;
        border-bottom: 1px solid rgba(220, 205, 255, 1);
      }

      a {
        text-decoration: none;
        font-weight: 500;
        font-size: 10px;
        line-height: 18px;
        color: #fff;
        margin-top: 4px;
      }
    }

    .balance {
      display: flex;
      flex-direction: column;
      width: 33%;

      span {
        width: 85%;
        padding-bottom: 8px;
        border-bottom: 1px solid rgba(220, 205, 255, 1);
        font-weight: 500;
        font-size: 10px;
        line-height: 18px;
        color: #fff;
      }

      a {
        margin-top: 4px;
        text-decoration: none;
        font-weight: 500;
        font-size: 10px;
        line-height: 18px;
        color: #805ad5;
      }
    }

    .wallet {
      display: flex;
      flex-direction: column;
      width: 33%;

      span {
        width: 85%;
        padding-bottom: 8px;
        border-bottom: 1px solid rgba(220, 205, 255, 1);
        font-weight: 500;
        font-size: 10px;
        line-height: 18px;
        color: #fff;
      }

      a {
        margin-top: 4px;

        text-decoration: none;
        font-weight: 500;
        font-size: 10px;
        line-height: 18px;
        color: #805ad5;
      }
    }
  }
}
